{% extends "base.html.twig" %}

{% block body %}
    {% if success == true %}
        <h1>Pomyślnie zapisano</h1>
    {% endif %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}